<%- model_class = Number -%>
<h3><%=t '.title', :default => t_model_name(model_class) %>列表</h3>
<%= grid(@numbers_grid ) do |g|

  g.column name:"#{t_attr_name model_class,:phone_num}", attribute: 'phone_num' 

  g.column name:"#{t_attr_name model_class,:real_num}", attribute: 'real_num' 

  g.column name:"#{t_attr_name model_class,:apply_at}", attribute: 'apply_at'

  g.column name:"#{t_attr_name model_class,:company_id}", attribute: 'company_id',
  :custom_filter => Company.all.order("CONVERT( name USING gbk ) COLLATE gbk_chinese_ci ASC").map{|c| [c.name,c.id]} do |number|
    number.company.name if number.company
  end

  g.column do |number|
    link_to('查看', number )
  end
  g.column do |number|
    link_to('修改', edit_number_path(number) )
  end
  g.column do |number|
    link_to('删除', number, method: :delete, data: { confirm: '确定删除' } )
  end
end -%>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_number_path,
            :class => 'btn btn-primary' %>
