<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h4 class="text-center">
				欢迎使用!
			</h4>
		</div>
	</div>
	<!-- <div class="row-fluid">
		<div class="span6">
		<%= link_to '基础数据导入',issue_number_import_logs_path %>
		</div>
		<div class="span6">
			账单数据导入
		</div> -->
	</div><span id="transmark"></span>
</div>

